*{
    margin:0;
    padding:0;
}
/* .container1{
    height:40vh; 
    width:100%;
} */
.carousel-indicators li{
    height:10px;
    width:10px;
    border-radius:50%;
}
.nav-link:hover{
background-color: rgb(62, 62, 245);
}